header h1 {
  font-size: 15px;
  letter-spacing: normal;
}

header{
  padding: 20px 0;
}

#logo {
  top: 20%;
}

#logo img {
  height: 35px;
}

#intro h3{
  margin: 20px 0 5px 10px;
}

/* introphoto */
#intro-photo {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

#intro-photo img {
  height: 300px;
  width: 300px;
  margin: 10px 0;
}

#container{
  display: flex;
  margin: 34px 0;
  flex-direction: column;
}

.box{
  padding: 20px 0;
  margin: 5px 10px;
}

.box p{
  margin: 0 10px;
}

nav{
  margin: 12px 0;
}
#navigation a {
  margin: 0 7px;
  padding: 10px 5px;
  letter-spacing: normal;
}

#navigation a:hover {
  transform: none;
}


#contact-box{
  padding: 10px 10px;
  width: 300px;
  margin-bottom: 10px;
}

#contact-box img{
  right: 55%;
  bottom: 12%;
}
