/* Global */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F9F9F9;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #FAAB78;
    letter-spacing: 0.3rem;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #FAAB78;
    letter-spacing: 0.3rem;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    color: #867b72;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #8B7E74;
    line-height: 2;
    word-spacing: 0.3rem;
    letter-spacing: 0.2rem;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 34px 0;
    width: 100%;
    margin-bottom: 10px;
    background-color: #CDF0EA;
    z-index: -1;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    color: #66BFBF;
    text-shadow: -2px 2px 4px #2DCDDF;
    font-size: 35px;
    letter-spacing: 0.3rem;

}

#logo {
    position: absolute;
    top: 25%;
    left: 1%;
}

#logo img {
    height: 60px;
}

/* Navigation */
nav {
    display: flex;
    background-color: #FFF6BD;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-bottom: 1.5px solid #8B7E74;
    box-shadow: 0 -5px 10px #FCDDB0;
}

#navigation {
    display: flex;
}

#navigation a {
    margin: 0 9px;
    font-size: 1rem;
    padding: 10px 15px;
    text-decoration: none;
    color: #9F8772;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s;
    letter-spacing: 0.2rem;
}

#navigation a:hover {
    animation-name: styleMe;
    transform: scale(1.5);
}

/* intoduction */

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
}

#intro h2 {
    margin: 10px 0;
}

#intro h3 {
    margin: 20px 0 5px;
}

#intro p {
    margin: 5px 10px;
}

#aims {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* intro image */

#intro-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    width: 100%;
}

#intro-photo img {
    height: 500px;
    width: 500px;
    margin: 0px auto;
    box-shadow: 2px -2px 5px #8B7E74;
    border-radius: 20px;
}

/* container section */
#container{
    display: flex;
    margin: 34px 0;
}

.box{
    border: 2px solid brown;
    padding: 20px;
    margin: 2px 30px;
    border-radius: 28px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

.box h2,h5{
    text-align: center;
}

.box p{
    letter-spacing: normal;
}

/* contact us */
#contact{
    display: flex;
    margin: 5px 0;
    justify-content: center;
    align-items: center;
}

#contact-box{
    padding: 20px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    width: 400px;
    position: relative;
    box-shadow:-1px -1px 3px #867b72;
}

#contact-box img{
    height: 25px;
    position: absolute;
    right: 2%;
    top: 52%;
}

/* footer */
footer{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #66BFBF;
    padding: 10px 0;
}

footer p{
    color: #EAF6F6;
}